# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

# Node
node_modules/
dist/
build/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
*.bak



# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/__pycache__/
backend/venv/
backend/.env
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.db
backend/*.sqlite3
backend/*.log
